<!--
Problem inserting/editing links (<a href>) in the text in TinyMCE 4, in combination with Twitter Bootstrap modal popup.
Chrome/Firefox: Can't insert/edit the Url in the pop-up
IE9/10: Can edit the Url, but doesn't save changes
-->

<!-- Default modal example from: http://twitter.github.io/bootstrap/javascript.html#modals -->

<div id="write-answer-modal" class="modal fade" data-backdrop=false>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <!-- content in modal, tinyMCE 4 texarea -->
                <div id="editor"></div>

            </div>
        </div>
    </div>
</div>